*{
	background-image: url(brick.jpg);
}

.container{
			display: flex;

		}
.container img
			{
			border: 20px solid #3c4c5b;
			height: 250px;

		}
		#got{
			width: 600px;
			margin-left: 500px;
			
		}
		#info{
			border: 5px solid black;
			width:800px;
			height: 400px;
			margin-left:500px;
			text-align: center;
			font-size: 1.5em;

		}
	h1{
		font-family: 'Cabin Sketch', cursive;
		padding-left: 90px;
	}